.outer-pokedex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#pokedex-heading {
  margin: 0 auto;
  letter-spacing: 5px;
}

a:visited {
  color: black;
}
